<img src="{{cover}}" alt="{{title}}">
<div class="description-container">
  <h3>Book: <span class="italic">{{title}}</span></h3>
  <p><span>By</span>: {{author}}</p>
  <p><span>ISBN</span>: {{isbn}}</p>
  <p class="description"><span>Description</span>: {{description}}</p>
  <input data-id="{{id}} " type="button" value="Edit" class="edit-book">
  <input data-id="{{id}} "type="button" value="Delete" class="delete-book">
</div>
