<div id="details">
  <h1>Book Details</h1>
  <img class="close" src="/images/close.svg" alt="close icon">
  <img src="{{cover}}" alt="{{title}}">
  <ul>
    <li><span>Date added</span>: {{date}}</li>
    <li><span>Title</span>: {{title}}</li>
    <li><span>Author</span>: {{author}}</li>
    <li>
      <p><span>Summary</span>: {{summary}}</p>
    </li>
    <li><span>Key Idea #1</span>: {{idea1}}</li>
    <li><span>Key Idea #2</span>: {{idea2}}</li>
    <li><span>Key Idea #3</span>: {{idea3}}</li>
  </ul>
</div>
<div id="overlay"></div>
